
.mainCounter {
    display: flex;
    justify-content: space-around;
    background: black;
    color: white;
    font-size: 100px;
}

.valueAndButtons{
    text-align: center;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 20px;
}

.button {
    margin-left: 6px;
    border-radius: 10px;
}

.clock {
    margin-bottom: 20px;
}

h4 {
    margin-top: 15px;
}